@media screen and (min-width: 501px) {
    body {
        margin: auto;
        padding: 0;
        border: 0;
        width: 100%;
        background: #fff;
        min-width: 481px;
        font-size: 90%;
        font-family: Arial, Helvetica, sans-serif;
    }
    .container {
        width: 200px;
        height: 170px;
        overflow: hidden;
        float: right;
        margin: 0 0 0 15px;
    }
    .container img {
        width: 100%;
    }
    .container2 {
        width: 200px;
        height: 170px;
        overflow: hidden;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .container2 img {
        width: 100%;
    }
    a {
        color: rgb(239, 121, 47);
    }
    a:hover {
        color: #fff;
        background: #369;
        text-decoration: none;
    }
    h1,
    h2,
    h3 {
        margin: .8em 0 .2em 0;
        padding: 0;
    }
    p {
        margin: .4em 0 .8em 0;
        padding: 0;
    }
    #header {
        clear: both;
        float: left;
        width: 100%;
        text-align: center;
    }
    #header {
        border-bottom: 4px solid rgb(239, 121, 47);
        background-color: rgb(142, 161, 55);
        background-image: linear-gradient(rgb(142, 161, 55), rgb(197, 199, 49));
        background-image: -moz-linear-gradient(rgb(142, 161, 55), rgb(197, 199, 49));
        background-image: -webkit-linear-gradient(rgb(142, 161, 55), rgb(197, 199, 49));
        background-image: -o-linear-gradient(rgb(142, 161, 55), rgb(197, 199, 49));
    }
    .header_logo {
        float: left;
        margin: 12px 5px;
        padding: 0;
    }
    .logo_frame {
        margin: 0 auto;
        height: 80px;
        clear: both;
        width: 325px;
    }
    #header p,
    #header h2 {
        padding: .4em 15px 0 15px;
        margin: 0;
    }
    #header h1 {
        font-weight: 400;
        font-size: 48px;
        padding: 0;
        margin: 0 0 -15px 0;
        text-align: left;
    }
    .tag {
        font-size: xx-small;
        font-weight: bold;
        padding: 0;
        margin: 0;
        text-align: left;
    }
    .bold {
        font-weight: 800;
    }
    #header ul {
        clear: left;
        float: left;
        width: 100%;
        list-style: none;
        margin: 5px 0 0 0;
        padding: 0;
    }
    #header ul li {
        display: inline;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    #header ul li a {
        display: block;
        float: left;
        margin: 0 0 0 1px;
        padding: 3px 10px;
        text-align: center;
        background: rgb(197, 199, 49);
        color: #000;
        text-decoration: none;
        position: relative;
        left: 15px;
        line-height: 1.3em;
    }
    #header ul li a:hover {
        background: rgb(239, 121, 47);
        color: #fff;
    }
    #header ul li a.active,
    #header ul li a.active:hover {
        color: rgb(255, 255, 255);
        background: rgb(0, 0, 0);
        font-weight: bold;
    }
    #header ul li a span {
        display: block;
    }
    .colmask {
        position: relative;
        clear: both;
        float: left;
        width: 100%;
        overflow: hidden;
    }
    .colright,
    .colmid,
    .colleft {
        float: left;
        width: 100%;
        position: relative;
    }
    .col1,
    .col2,
    .col3 {
        float: left;
        position: relative;
        padding: 0 0 1em 0;
        overflow: hidden;
    }
    .threecol {
        background: rgb(46, 54, 64);
    }
    .threecol h2 {
        color: rgb(142, 161, 56);
    }
    .threecol .colmid {
        right: 25%;
        background: #fff;
    }
    .threecol .colleft {
        right: 50%;
        background: rgb(46, 54, 64);
    }
    .col3 p {
        color: #ccc;
    }
    .aside_events li {
        color: #ccc;
        padding: 0 0 10px 0;
    }
    .articles li {
        padding: 0;
        color: rgb(239, 121, 47);
        list-style: none;
        text-decoration: none;
    }
    .threecol .col1 {
        width: 46%;
        left: 102%;
    }
    .threecol .col2 {
        width: 21%;
        left: 31%;
    }
    .threecol .col3 {
        width: 21%;
        left: 85%;
    }
    #footer {
        clear: both;
        float: left;
        width: 100%;
        padding: 10px;
        border-top: 4px solid rgb(239, 121, 47);
        text-align: center;
        background-color: rgb(142, 161, 55);
        background-image: linear-gradient(rgb(197, 199, 49), rgb(142, 161, 55));
        background-image: -moz-linear-gradient(rgb(197, 199, 49), rgb(142, 161, 55));
        background-image: -webkit-linear-gradient(rgb(197, 199, 49), rgb(142, 161, 55));
        background-image: -o-linear-gradient(rgb(197, 199, 49), rgb(142, 161, 55));
        font-weight: bold;
    }
    #footer p {
        margin: 0;
    }
}